<div class="table-responsive-md">
 <table class="table table-striped-info table-borderless border-0">
    <tbody>
        <tr></tr>
        {{#each (get "members")}}
        <tr>
            <td class="text-secondary pl-2 pl-lg-4">
                {{#if color}}
                    <span class="mr-2 pb-1 align-middle d-inline-flex align-items-center justify-content-center radius-round bgc-primary-l2 text-primary font-bolder text-90 w-5 h-5">
                        <span>{{color}}</span>
                    </span>
                {{/if}}
                {{#if avatar}}
                <img src="assets/image/avatar/{{avatar}}" class="radius-round border-2 p-2px brc-default-m1 mr-2 w-5 h-5" />
                {{/if}}
                {{name}}
            </td>
            <td class="text-secondary-m2 text-85 font-bolder">{{role}}</td>
            <td class="text-grey-m2 text-85">{{location}}</td>
            
            <td class="text-85">
                <i class="fa fa-star text-orange-m2"></i>
                <i class="fa fa-star text-orange-m2"></i>
                <i class="fa fa-star text-orange-m2"></i>
            </td>

            <td class="font-bolder text-80 text-right pr-2 pr-lg-3">
                {{#if approved}}
                <span class="badge bgc-green text-white-tp1">Approved</span>
                {{/if}}
                {{#if pending}}
                <span class="badge bgc-default text-white-tp1">Pending</span>
                {{/if}}
                {{#if banned}}
                <span class="badge bgc-red text-white-tp1">Banned</span>
                {{/if}}
            </td>
            <td class="px-2 px-lg-3 text-right" style="width:40px;">
                {{#if approved}}
                    <label>
                        <input type="checkbox" class="ace-switch" checked />
                    </label>
                {{/if}}

                {{#if pending}}
                    <label>
                        <input type="checkbox" class="ace-switch" />
                    </label>
                {{/if}}

                    {{#if banned}}
                    <a href="#" class="action-btn text-danger-m1 mr-1"><i class="fa fa-trash-alt text-125"></i></a>
                {{/if}}
            </td>
        </tr>
        {{/each}}
    </tbody>
 </table>
</div>