<div class="col-12 col-sm-4 px-4 pos-rel mt-3 mt-sm-0 pt-3 pt-sm-0 text-center">
 
 <div class="d-none d-sm-block position-lc h-90 border-l-1 brc-default-l1"></div>
 <div class="d-sm-none position-tc w-90 border-t-1 brc-default-l1"></div>

 <div class="d-flex flex-column">
	<div class="d-flex text-center">
		<div class="flex-grow-1 mb-3">
			{{#if text}}
			<div class="text-nowrap text-95">{{text}}</div>
			{{/if}}

			
			{{#if content}}{{! sometimes we have two content texts like in smaller infoboxes, so use a loop }}
				<div class="text-nowrap text-120 text-secondary-d2">{{#each content}}{{{this}}}{{/each}}</div>
			{{/if}}


			{{#if number}}
			<div>
				<span class="text-170 text-secondary-d2">{{number}}</span>
				{{#if stat-success}}
				<span class="text-blue text-nowrap">+{{stat-success}} <i class="fa fa-caret-up"></i></span>
				{{/if}}
			</div>
			{{/if}}
		</div>
	</div>

	{{#if icon}}
	<div class="pl-1">
		<i class="bgc-{{color}} py-25 px-3 radius-round icon-glossy">
    		<i class="{{icon}} text-white w-3 mx-n3px mb-1 text-140"></i>
		</i>
	</div>

	{{else if progress}}
	 <div class="align-self-center pos-rel text-{{textColor}}">
		<canvas class="info-pie" style="width: 150px;" data-percent="{{progress}}"></canvas>
		<span class="position-center text-95 font-bolder">{{progress}}%</span>
	 </div>

	{{else if chart}}	 
	 <div class="align-self-center w-95 text-{{textColor}}">
		<canvas class="info-chart ml-n15 mt-n2" style="height: 64px; width: 100%;" data-values="[{{chart}}]"></canvas>
	 </div>
	{{/if}}
 </div>
</div>