{{#each (get "members")}}
<div class="col-12 col-sm-6">
 <div class="d-block my-1 mx-n2 border-1 brc-secondary-l1 radius-1 p-0">
    <div class="d-flex p-2">
        <div class="pos-rel mr-3">
            {{#if color}}
            <span class="d-inline-flex align-items-center justify-content-center radius-round bgc-{{color}} text-white font-bolder w-6 h-6">
                <span>{{avatar}}</span>
            </span>
            {{else}}
            <img src="assets/image/avatar/{{avatar}}" class="radius-round border-2 p-1px brc-primary-m2 w-6 h-6" />
            {{/if}}

            <span class="bgc-warning radius-round border-2 brc-white p-1 position-tr"></span>
        </div>
        

        <div>
            <div>
                <a class="mt-0 text-blue-m1 text-90 font-bolder" href="#">
                    {{name}}
                </a>
            </div>

            <div class="text-success-m2 text-80 font-bolder">
                <i class="far fa-clock text-grey"></i> {{time}}
            </div>
            
            <div>
                {{#pending}}
                <span class="badge btn-light-secondary">pending</span>
                <div class="dropdown d-inline-block dd-backdrop dd-backdrop-none-md">
                    <button class="btn py-0 shadow-none btn-xs btn-outline-secondary border-0 dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-angle-down"></i>
                    </button>
                    <div class="dropdown-menu mw-auto dropdown-caret dropdown-menu-right dropdown-animated dd-slide-up dd-slide-none-md">
                     <div class="dropdown-inner">
                        <a class="dropdown-item" href="#" title="Approve" data-toggle="tooltip" data-placement="top" data-template='<div class="tooltip" role="tooltip"><div class="arrow brc-success"></div><div class="tooltip-inner text-110 pb-2 bgc-success"></div></div>'>
                            <i class="fa fa-check text-success-m1 mx-1 w-2"></i>
                            <span class="d-md-none">Approve</span>
                        </a>
                        <a class="dropdown-item" href="#" title="Reject" data-toggle="tooltip" data-placement="top" data-template='<div class="tooltip" role="tooltip"><div class="arrow brc-warning"></div><div class="tooltip-inner text-110 pb-2 bgc-warning"></div></div>'>
                            <i class="fa fa-times text-orange mx-1 w-2"></i>
                            <span class="d-md-none">Reject</span>
                        </a>
                        <a class="dropdown-item" href="#" title="Delete" data-toggle="tooltip" data-placement="top" data-template='<div class="tooltip" role="tooltip"><div class="arrow brc-danger"></div><div class="tooltip-inner text-110 pb-2 bgc-danger"></div></div>'>
                            <i class="fa fa-trash text-danger mx-1 w-2"></i>
                            <span class="d-md-none">Delete</span>
                        </a>
                     </div>
                    </div>
                </div>
                {{/pending}}
                {{#blocked}}
                <span class="badge badge-danger badge-sm">blocked</span>
                {{/blocked}}
                {{#approved}}
                <span class="badge btn-light-success">approved</span>
                {{/approved}}
                {{#online}}
                <span class="badge btn-light-info badge-sm">online</span>
                {{/online}}
            </div>
        </div>
    </div>

    <div class="w-100 mt-2">

        <div class="row mb-n1px mx-n1px text-secondary">
            <div class="col-4 card radius-0 brc-secondary-l1">
                <div class="card-body px-1 py-2 pb-0 text-center">
                    <i class="fab fa-twitter text-blue-m3"></i>
                    <span class="text-95">{{random 2 200}}</span>
                </div>
            </div>
            <div class="col-4 card radius-0 brc-secondary-l1 border-x-0">
                <div class="card-body px-1 py-2 text-center">
                   <i class="fab fa-instagram text-purple-m1"></i>
                   <span class="text-95">{{random 5 70}}</span>
                </div>
            </div>
            <div class="col-4 card radius-0 brc-secondary-l1">
                <div class="card-body px-1 py-2 text-center">
                   <i class="fab fa-facebook text-primary-m2"></i>
                   <span class="text-95">{{random 1 60}}</span>
                </div>
            </div>
        </div>

    </div>
 </div>
</div>

{{/each}}